# Onda hardware baseline: Waveshare ESP32-S3-ePaper-1.54G (ESP32-S3-PICO-1-N8R8)
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
